/* General Page Styles */
html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(diceBackground.gif);
    background-size: cover;
}

/* Classes */
.menuButtonStyling{
    padding-bottom: 20%;
}


.instructionBoxStyle{
    background-color: white;
    border-radius: 25px;
    margin: 25px;
}

.ingameInstructionsKeyTitle{
    font-size: 32px;
    color: red;
    text-decoration: underline;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}

.gameKeyBoxStyle{
    background-color: white;
    border-radius: 25px;
}

.gameScoreDisplays{
    background-color: red;
    border-radius: 50%;
}

.gameButtonStyling{
    margin-top: 0px;
    margin-bottom: 5px;
}

.scoreLabelStyling{
    color: black;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}

.gameContinuationButtonRow{
    margin-top: 40px;
}

/* ID Tags*/

#mainTitle{
    font-size: 108px;
    color: red;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}

#instructionsTitle{
    font-size: 48px;
    color: red;
    text-decoration: underline;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}

#instructionsListText{
    font-size: 30px;
    color: black;
    word-wrap: break-word;
}

#computerScoreDiv{
    font-size: 60px;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}

#currentRollDiv{
    font-size: 60px;
    color: black;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    background-color: white;
    border-radius: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#userScoreDiv{
    font-size: 60px;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}

#currentRollLabel{
    color: black;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}

#userInputInstructions{
    font-size: 24px;
    color: black;
    font-weight: bold;
    word-wrap: break-word;
}

#topOfScreenSpacing{
    margin-top: 40px;
}